body {
    background-image: url("../img/450937182_b5fc4b5d75_o.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

/*Navigation Bar*/
.homeNav {
    display: flex;
    flex-direction: row;
    position: relative;
    align-items: flex-end;
    justify-content: space-between;
    color: #ffffff;
}
#title {
    font-family: "American Typewriter";
    font-size: 80px;
    font-weight: bolder;
}
.navText {
    top: 80px;
    font-family: "American Typewriter";
    text-decoration: none;
    font-weight: lighter;
}
#menu{
    color: #ffffff;
    text-decoration: none;
}
#emptyspace {
    flex-basis: 400px;
}

/*Footer*/
footer {
    display: grid;
    background-color: #2d2d2d;
    grid-template-columns: 1fr fit-content(400px) 1fr;
    width: 100%;
    position: absolute;
    bottom: 0px;
    right: 0px;
    left: 0px;
    height: 20px;
}
.footText {
    color: #ffffff;
    font-family: "American Typewriter";
}
#address {
    text-align: center;
}
#email {
    text-align: right;
}