
body {
    background-image: url("./img/background.png");
    background-size: 100% 100%;
    
    margin: 0;
    padding: 0;
}

/*Navigation Bar*/
.homeNav {
    display: flex;
    height: 70px;
    flex-direction: row;
    position: relative;
    align-items: flex-end;
    justify-content: space-between;
    color: #ffffff;
    background-image: url("./img/small\ bar.png");
    background-size: 100% 100%;
}
#title {
    font-family: "American Typewriter";
    font-size: 59px;
    color: #ffffff;
    text-decoration: none;
    font-weight: lighter;
}
.navText {
    top: 80px;
    font-size: 22px;
    font-family: "American Typewriter";
    text-decoration: none;
    font-weight: lighter;
}
#menu{
    color: #ffffff;
    text-decoration: none;
    font-weight: lighter;
}
#emptyspace {
    flex-basis: 480px;
}
#cart {
    padding-right: 5px;
}

/*The page grid*/
main {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(16, 71px);
    grid-template-rows: repeat(9, 56px);
    grid-gap: 20px;
    position: relative;
}

/*Header*/
header {
    font-family: "American Typewriter";
    grid-area: 1 / 7 / auto / 11;
    font-size: 40px;
    text-align: center;
    font-weight: bold;
}

#cartRectangle {
    position: relative;
    z-index: -1;
    width: 1115px;
    height: 555px;
    background: #ffffff;
    grid-area: 2 / 3 / auto / auto;
    right: 20px;
    bottom: 20px;
}

.product {
    border: 1px solid lightgray;
    padding: 9px;
}

.prodDetails {
    position: relative;
    top: 37px;
    font-size: 25px;
    font-family: "American Typewriter";
}

.quant {
    position: relative;
    top: 51px;
    font-size: 25px;
    font-family: "American Typewriter";
}

.remove {
    position: relative;
    top: 51px;
    font-size: 25px;
    font-family: "American Typewriter";
    color: gray;
}

.prodTotal {
    position: relative;
    top: 51px;
    font-size: 25px;
    font-family: "American Typewriter";
    text-align: right;
    padding-right: 9px;
}

#total {
    position: relative;
    grid-area: 7 / 12 / 8 / 15;
    border: 1px solid lightgray;
    padding: 9px;
    font-size: 26px;
    font-family: "American Typewriter";
}

#product1 {
    position: relative;
    grid-area: 3 / 3 / 5 / 15;
}

#prod1Details {
    grid-area: 3 / 5 / 5 / 8; 
}

#quant1 {
    grid-area: 3 / 8 / 5 / 10;
}

#remove1 {
    grid-area: 3 / 10 / 5 / 12;
}

#prodTotal1 {
    grid-area: 3 / 12 / 5 / 15;
}

#product2 {
    position: relative;
    grid-area: 5 / 3 / 7 / 15;
}

#prod2Details {
    grid-area: 5 / 5 / 7 / 8; 
}

#quant2 {
    grid-area: 5 / 8 / 7 / 10;
}

#remove2 {
    grid-area: 5 / 10 / 7 / 12;
}

#prodTotal2 {
    grid-area: 5 / 12 / 7 / 15;
}

/*Buttons*/
.button {
    background-color: #E44A66; 
    border: none;
    color: white;
    font-family: "American Typewriter";
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 26px;
    border-radius: 9px;
    width: 347px;
    height: 55px;
}

#checkout1 {
    grid-area: 2 / 11 / auto / auto;
}

#checkout2 {
    grid-area: 8 / 11 / auto / auto;
}

/*Footer*/
footer {
    display: flex;
    background-color: #2d2d2d;
    flex-direction: row;
    justify-content: space-between;
    position: absolute;
    height: 20px;
    width: 100%;
    bottom: 0px;
}
.footText {
    color: #ffffff;
    font-family: "American Typewriter";
}