
body {
    background-image: url("./img/background.png");
    background-size: 100% 100%;
    
    margin: 0;
    padding: 0;
}

/*Navigation Bar*/
.homeNav {
    display: flex;
    height: 70px;
    flex-direction: row;
    position: relative;
    align-items: flex-end;
    justify-content: space-between;
    color: #ffffff;
    background-image: url("./img/small\ bar.png");
    background-size: 100% 100%;
}
#title {
    font-family: "American Typewriter";
    font-size: 59px;
    color: #ffffff;
    text-decoration: none;
    font-weight: lighter;
}
.navText {
    top: 80px;
    font-size: 22px;
    font-family: "American Typewriter";
    text-decoration: none;
    font-weight: lighter;
}
#menu{
    color: #ffffff;
    text-decoration: none;
    font-weight: lighter;
}
#emptyspace {
    flex-basis: 480px;
}
#cart {
    padding-right: 5px;
}

/*The page grid*/
main {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(16, 71px);
    grid-template-rows: repeat(9, 56px);
    grid-gap: 20px;
    position: relative;
}

/*Header*/
header {
    font-family: "American Typewriter";
    grid-area: 1 / 7 / auto / 11;
    font-size: 40px;
    text-align: center;
    font-weight: bold;
}

/*The image and its flavor label*/
.productImg {
    grid-area: 2 / 5 / 6 / 9;
    background: url(./img/caramelPecan.jpg);
}
.flavorBar {
    justify-content: center;
    background-color: #ffffff;
    opacity: 0.70;
    height: 44px;
    position: relative;
    top: 245px;
}
.flavorText {
    font-family: "American Typewriter";
    font-size: 27px;
    line-height: 44px;
    text-align: center;  
}

/*Description of the product*/
#description {
    text-indent: 1em;
    font-family: "American Typewriter";
    font-size: 18px;
    grid-area: 6 / 5 / auto / 9;
}

/*Labels and fields for the drop-downs and price*/
.label {
    margin-top: 75px;
}
.field {
    margin-top: 75px;
}
#glazeLabel {
    grid-area: 2 / 9 / auto / auto;
    align-self: center;
    font-family: "American Typewriter";
    font-size: 34px;
    font-weight: lighter;
}
#glazeSelect {
    grid-area: 2 / 11 / auto / auto;
    justify-self: center;
    align-self: center;
}
#quantLabel {
    grid-area: 3 / 9 / auto / auto;
    align-self: center;
    font-family: "American Typewriter";
    font-size: 34px;
    font-weight: lighter;
}
#quantSelect {
    grid-area:  3 / 11 / auto / auto;
    justify-self: center;
    align-self: center;
    margin-right: 120%;
}
#priceLabel {
    grid-area: 4 / 9 / auto / auto;
    align-self: center;
    font-family: "American Typewriter";
    font-size: 34px;
    font-weight: lighter;
}
#priceField {
    grid-area:  4 / 10 / auto / auto;
    justify-self: center;
    align-self: center;
    font-size: 30px;
    font-weight: bold;
    margin-left: 170%;
    background-color: #ffffff;
}

/*Buttons*/
.button {
    background-color: #E44A66; 
    border: none;
    color: white;
    font-family: "American Typewriter";
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 9px;
}
#add {
    grid-area: 7 / 10 / auto / auto;
    justify-self: center;
    align-self: center;
    width: 345px;
    font-size: 30px;
    margin-left: 130%;
}
#moreBuns {
    grid-area: 8 / 9 / auto / auto;
    width: 142px;
    font-size: 22px;
    padding-top: 15px;
    font-family: "American Typewriter";
    text-decoration: none;
}
#checkOut {
    grid-area: 8 / 11 / auto / auto;
    width: 162px;
    font-size: 22px;
}

/*Footer*/
footer {
    display: flex;
    background-color: #2d2d2d;
    flex-direction: row;
    justify-content: space-between;
    position: absolute;
    height: 20px;
    width: 100%;
    bottom: 0px;
}
.footText {
    color: #ffffff;
    font-family: "American Typewriter";
}